<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{user.fullname()}}</h1>
    <div class="box">
        <h3>full name:{{user.fullname()}}</h3>
        <h3>email:{{user.email}}</h3>
        <h3>created on:{{user.created_at}}</h3>
        <h3>last update:</h3>
    </div>
    <a href="/user/{{user.id}}/edit">Edit</a>
    <a href="/delete/{{user.id}}/delete">Delete</a>
</body>
</html>